@import url('reset.css');

body {
	padding: 50px;
	font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.slide-wrapper { overflow: hidden; }

.slide-control-prev,
.slide-control-next { cursor: pointer; }

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* FIRST */

#plain { margin-bottom: 50px; }

/* The first slide has no styling */

/* SECOND */

#dark { margin-bottom: 50px; height: auto; overflow: hidden; }

	#dark .slide-wrapper {
		position: relative;
		padding-bottom: 20px;
		width: 460px;
	}

	#dark .slide-boundary {
		background: url(../img/dark-background.png) center center repeat-x;
		width: 400px;
		float: left;
	}

		#dark .slide-control-prev,
		#dark .slide-control-next {
			float: left;
			background: url(../img/dark-prev.png) right center no-repeat;
			width: 30px;
			height: 74px;
			text-indent: -9999px;
		}

		#dark .slide-control-next {
			background: url(../img/dark-next.png) left center no-repeat;
		}

		#dark .slide-control-navigation {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -50px;
			width: 100px;
			text-align: center;
		}

			#dark .slide-control-navigation-tab {
				display: inline-block;
				background: #999;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
				margin: 0 0.3em;
				width: 10px;
				height: 10px;
				text-indent: -9999px;
			}

			#dark .slide-control-navigation-tab.current {
				background: #666;
			}

		#dark .slide-slide {
			padding: 5px 20px;
			font-size: 20px;
			font-weight: bold;
			color: #FFF;
			line-height: 1.6em;
			text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		}

/* THIRD */

#cautious { margin-bottom: 50px; }

	#cautious .slide-wrapper {
		position: relative;
		padding-bottom: 1em;
		width: 300px;
	}

		#cautious .slide-control-prev,
		#cautious .slide-control-next {
			position: absolute;
			bottom: 0;
			font-weight: bold;
		}

		#cautious .slide-control-next { right: 0; }

		#cautious .slide-control-navigation-tab {
			display: inline;
			margin-right: 0.65em;
		}

			#cautious .slide-control-navigation-tab .number { display: none; }

		#cautious .slide-control-navigation-tab.current { font-weight: bold; }

		#cautious .slide-control-navigation-tab:last-child { margin-right: 0; }

		#cautious .slide-container {
			background: url(../img/cautious-background.png) center center repeat-x;
		}

			#cautious .slide-slide {
				padding: 20px;
				font-size: 16px;
				font-weight: bold;
				color: #FFF;
				line-height: 1.6em;
				text-shadow: 0 1px 4px rgba(0,0,0,1), 0 1px 1px rgba(0,0,0,1);
			}

/* FOURTH */

#forest { margin-bottom: 50px; }

	#forest .slide-wrapper {
		position: relative;
		padding-bottom: 1em;
		width: 180px;
	}

		#forest .slide-control-prev,
		#forest .slide-control-next {
			position: absolute;
			top: 0;
			width: 50%;
			height: 180px;
			text-indent: -9999px;
			z-index: 100;
		}

		#forest .slide-control-next { left: 50%; }

		#forest .slide-control-prev:hover,
		#forest .slide-control-next:hover {
			background: url(../img/forest-prev.png) 25% center no-repeat;
		}

		#forest .slide-control-next:hover {
			background: url(../img/forest-next.png) 75% center no-repeat;
		}

/* FIFTH */

#count .slide-wrapper {
	font-size: 64px;
	font-weight: bold;
}

	#count .slide-control-prev,
	#count .slide-control-next,
	#count .slide-boundary,
	#count .slide-container,
	#count .slide-slide {
		float: left;
		text-align: center;
	}







